#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
[data-theme="light"]
{
  background-color: white;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/**************** Grid Stuff for Explore *********************/

.gallery-container {
  height: 400px;
  /* Set a fixed height for the scrollable container */
  overflow: auto;
  /* Enable scrolling */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Style the individual gallery items (divs) */
.gallery-item {
  width: 200px;
  height: 200px;
  background-color: #807b7b;
  border: 1px solid #ccc;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/* Hide the scrollbar in WebKit-based browsers (Chrome, Safari, etc.) */
.gallery-container::-webkit-scrollbar {
  width: 0px;/* Adjust the width as needed */

}

/* Style for buttons within the gallery item */
.gallery-item button {
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 5px;
  /* position: absolute; */
  bottom: 0;
  left: 0;
}

/* End here for Explore css stuff*/


#settingsform, #font
{
  display: grid;
}
#settingsform select, #font select
{
  justify-self: center;
}
 /* Light settings */
.lightsetting
{
  background-color: white;
  color: black;
}

