@media only screen and (min-width: 30em) {
  /* body
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } */
  #root {
    height: 50em;
    padding: 0;
    margin: 0;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .navbar {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    max-width: 18em;
  }
  #nav
  {
    grid-column: 1;
  }

  /*****************************
      Explore 
    *****************************/
  .explore
  {
    display: grid;
    grid-template-columns: repeat(6, 1fr)
  }
  .explore-div
  {
    grid-column: 2/7;
  }

  /*****************************
        Header 
    *****************************/
  #account {
    justify-self: left;
    text-align: left;
  }
  /*****************************
        Navigation 
    *****************************/
  .dynamic-list {
    position: relative;
    display: block;
    top: 200px;
    margin: 0 2em;
  }
  .dynamic-list li {
    margin: 0 1em;
    text-align: left;
  }
  .dynamic-list div {
    text-align: left;
  }
  /*****************************
        Add Tag Pop-out
    *****************************/
  .popout-container {
    top: -22em;
    left: 2em;
  }

  /*****************************
        Login/out
    *****************************/
  .login-out-form 
  {
    grid-template-columns: repeat(6, 1fr);

  }
  .login-out-form-inputs 
  {
    grid-column: 2/7;
    grid-row: 1;
    max-height: 25em;
  }
  .login-out-form-inputs input
  {
    max-height: 20px;
  }

  .dark_mode 
  {
    display: grid;
  }


  .acct_page
  {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  }
  #account-info
  {
    grid-column: 2/7;
  }
}