html {
  width: 100%;
}
#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

.top-bar
{
  grid-column: 1;
}
.settings-section
{
  grid-column: 2;
  grid-row: 1;
}
[data-theme="light"] {
  background-color: white;
  color: black;
}
#logo {
  height: 6em;
  padding: 0;
  margin: 0;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* acctPage */
form {
  display: grid;
}
#sub_btn {
  margin-top: 1em;
}
/**************** Grid Stuff *********************/

.gallery-container {
  height: 400px;
  /* Set a fixed height for the scrollable container */
  overflow: auto;
  /* Enable scrolling */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Style the individual gallery items (divs) */
.gallery-item {
  width: 200px;
  height: 200px;
  background-color: #807b7b;
  border: 1px solid #ccc;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/* Hide the scrollbar in WebKit-based browsers (Chrome, Safari, etc.) */
.gallery-container::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
}

/* Style for buttons within the gallery item */
.gallery-item button {
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 5px;
  /* position: absolute; */
  bottom: 0;
  left: 0;
}
/* End here for Explore css stuff*/
/* End here */

#settingsform,
#font {
  display: grid;
}
#settingsform select,
#font select {
  justify-self: center;
}
/* Light settings */
.lightsetting {
  background-color: white;
  color: black;
}
.choices {
  display: grid;
}

/*****************************
  Header 
 *****************************/
#img-title {
  display: flex;
}
#img-title img {
  max-height: 150px;
  border-radius: 1em;
  justify-content: center;
}
.title {
  align-self: center;
  font-size: x-large;
}
/*****************************
  Navigation 
 *****************************/
.header {
  grid-row: 1;
  grid-column: 1/3;
}
.header > * {
  display: inline;
  align-self: center;
}
.navbar {
  grid-template-columns: 1fr 1fr;
  background-color: rgb(136, 136, 136, 0.3);
}
.popout-content {
  display: grid;
}
.popout-container {
  position: absolute;
  top: 0;
  width: fit-content;
  height: fit-content;
  background-color: rgb(36, 36, 36);
}
#close_btn {
  margin-top: 0.5em;
  margin-right: 1em;
}
#ParentSelector {
  grid-column: 1/3;
}

#ParentSelector ul {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  list-style-type: none;
  margin-right: 1em;
}

#NameCreator {
  grid-column: 1/3;
  margin-right: 1em;
}
.dynamic-list {
  display: grid;
  padding: 0;
  text-align: center;
}
.dynamic-list li {
  list-style-type: none;
}
.statics ul {
  display: flex;
}
.statics li {
  display: inline;
  float: left;
  margin: 0 20px;
}

#account {
  display: grid;
  justify-content: center;
  margin-right: 1em;
}

/*****************************
  Login/out account 
 *****************************/
.login-out-form {
  display: grid;
}
.login-out-form-inputs {
  display: grid;
}
.login-out-form-inputs input {
  padding: 1em;
  margin: 1em;
}
#logged-in-as {
  text-align: right;
}

/*****************************
  Settings/Darkmode
 *****************************/
.dark_mode 
{
  display: block;
}

.dark_mode_label {
  width: 65px;
  height: 30px;
  position: relative;
  display: inline-block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(240, 239, 239, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.dark_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: #242424;
}
.dark_mode_input:checked + .dark_mode_label:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.dark_mode_label:active:after {
  width: 30px;
}

.dark_mode_label img {
  position: relative;
  width: 20px;
  top: 5px;
  z-index: 100;
}
#sun {
  left: -7px;
  fill: #fff;
  transition: 0.3s;
}
#moon {
  left: 8px;
  fill: #7e7e7e;
  transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: #fff;
}
